<div id="newpost">
	<%= form_for @post do |f| %>
		<%# f.label :title %>
		<%= f.text_area :title, placeholder: "Post Title" %>
		<br>
		<%# f.label :content %><br>
		<%# f.text_field :content %>
		<%= f.text_area :content, placeholder: "Comment text"%>
		<br>
		<%= f.hidden_field :user_id, value: @user.id %>
		<%= f.hidden_field :likes, value: 0 %>
		<%= f.submit %>
	<% end %>
</div>