<h1><%= link_to @post.title, edit_post_path%></h1>


<!-- <div id="editdelete">
	<% if @logged_in_user.id == @post.user_id %>
		<%= button_to "Edit", edit_post_path, method: :get%>
		<%= button_to "Delete", @post, method: :delete%>
	<% end %>
</div> -->

<div>
	<p>
		<%= link_to @post.content, edit_post_path %>
	</p>
	<%# button_to "Like", new_liking_path, params: {'post[id]' => @post.id, 'post[user_id]' => @post.user_id}, method: :get%>
	<%= button_to "Like", new_like_path, params: {post_id: @post.id, user_id: @post.user_id}, method: :get %>
	<p><%= @post.likes%> Likes</p>
	<div>
		<h3>Liked by:</h3>
		<% @post.likings.each do |liking| %>
		<ul>
			<%= liking.user.username %>
		</ul>
		<% end %>
	</div>
	


	<%= form_for @comment do |f| %>
		<%# f.label :content %>
		<%= f.text_area :content, width: 200, height: 15; %>
		<%= f.hidden_field :post_id, value: @post.id %>
		<%= f.hidden_field :user_id, value: @post.user_id %>
		<%= f.submit%>
	<% end %>

	<ul>	
		<% @comments.each do |comment| %>
		<p>
			<%= comment.user.username %> - <%= comment.content %>
		</p>
		<% end %>
	</ul>

</div>

