<div class="basicforpadding" id="fullshowpage">
	<% if @post.user_id == session[:user_id]%>
		<h1><%= link_to @post.title, edit_post_path%></h1>
		<h2>By <%= @post.user.username%></h2>
	<% else %>
		<h1><%= link_to @post.title, post_path%></h1>
		<h2>By <%= @post.user.username%></h2>
	<% end %>

	<!-- <div id="editdelete">
		<% if @logged_in_user.id == @post.user_id %>
			<%= button_to "Edit", edit_post_path, method: :get%>
			<%= button_to "Delete", @post, method: :delete%>
		<% end %>
	</div> -->

	<div>
		<p id="postcontent">
			<% if @post.user_id == session[:user_id]%>
				<%= link_to @post.content, edit_post_path %>
			<% else %>
				<%= link_to @post.content, post_path %>
			<% end %>
		</p>
		<%= button_to "Like", new_like_path, params: {post_id: @post.id, user_id: @post.user_id}, method: :get %>
		

		<div class="hoverWrapper"><%= @post.likes%> Like(s)
	 		<div id="showlikes">
	 			<h4>Liked By:</h4>
	 			<% @post.likings.each do |liking| %>
				<ul>
					<%= liking.user.username %>
				</ul>
				<% end %>
	 		</div>
		</div>




		<%= form_for @comment do |f| %>
			<%# f.label :content %>
			<%= f.text_area :content%>
			<%= f.hidden_field :post_id, value: @post.id %>
			<%= f.hidden_field :user_id, value: @post.user_id %>
			<%= f.submit%>
		<% end %>

		<ul>	
			<% @comments.each do |comment| %>
			<!-- <p> -->
				<%= link_to comment.user.username, user_path(comment.user) %> - <%# comment.content %>
				<% content_array = comment.content.split(' ') %> 
			
				<% username_array = User.all.map{|user| user.username}%>

				

				<% content_array.each_with_index do |word, index|%>
					<% if username_array.include?(word)%>
						<%= link_to word, user_path(User.find_by(username: word)) %>
					<% else %>
						<%= word %>
					<% end %>
				<% end %>



				<%#byebug%>
				<%# if comment.content.include(User.find_by())%>

				<%# end %>
				<p style="font-size: 10px;"><%= "#{time_ago_in_words(comment.created_at)} ago"%></p>
			<!-- </p> -->
			<% end %>
		</ul>

	</div>
</div>
