<!DOCTYPE html>
<html>
  <head>
    <title>PosterProject</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @logged_in %>
      <div id="greeting">

        <nav class="navbar navbar-expand-lg bg-light">
          <!-- <a class="navbar-brand" href="<% @user %>"><%= @logged_in_user.username%></a> -->
          <%= link_to(@logged_in_user.username, @user, :class =>"navbar-brand", method: :get)%>
          <!-- <%# button_to("Sign Up", new_user_path, :class =>"loginsubmit", method: :get) %> -->
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
                <%= link_to("Home", posts_path, :class => "navbar-brand")  %>
              </li>
              <li class="nav-item">
                <!-- <a class="nav-link" href="#">Features</a> -->
                <%= link_to("Users", users_path, :class => "navbar-brand")  %>
              </li>
              
              
            </ul>
          </div>
        </nav>
                <!-- <a class="nav-link" href="#">Pricing</a> -->
                <%= button_to "Log out", log_out_path, :id => "logoutbutton",method: :delete %>



        <!-- Hello, <%= @logged_in_user.username.titleize %>!
        <%# button_to "Log out", log_out_path, :id => "logoutbutton",method: :delete %>
        <%# link_to "All Posts", posts_path %><br>
        <%# link_to "All Users", users_path %> -->
      </div>
    <% else %>

      <!-- <div class="wrapper newlogin">
        <%# link_to "Log In", new_login_path %>
        <%# link_to "Sign Up", new_user_path %>
      </div> -->
      


    <% end %>
    <%= yield %>

    <% if @errors && @errors.any? %>
      <ul class="errors">
        <% @errors.each do |error| %>
        <li>
          <%= error %>
        </li>
        <% end %>
      </ul>
      <% end %>
  </body>
</html>
